@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --font-title: "Anton", sans-serif;
    --font-email: "Roboto", sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    min-height: 100dvh;
    background-color: #0000ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: var(--font-title);
    font-weight: 300;
    color: #fff;
    font-size: 2.6em;
    text-shadow: 1px -3px 10px #000;
}

.container {
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    height: 500px;
    overflow-y: scroll;
}

.container__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8em;
}

.container__item {
    background-color: #ccc;
    list-style-type: none;
    margin: 0;
    padding: .8em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container__image {
    border-radius: 50%;
}

.container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__title {
    font-family: var(--font-title);
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 0;
}

.container__link {
    text-decoration: none;
    font-family: var(--font-email);
}

.container__check {
    clip-path: 50%;
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
}

.container__icons {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__editDelete {
    width: 40%;
    margin-right: 8em;
    background-color: rgb(0 0 0 / .3);
    border: 1px solid #000;
    border-radius: 5px;
    padding: .4em;
    display: flex; 
    justify-content: center;
    gap: 6em; 

}


